.popup{
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0,.5);
    backdrop-filter: blur(3px);
    position: absolute;
    top: 0;
    left: 0;

}
.popupCenter{
    height: 25rem;
    width: 35rem;
    background-color: #010812;
    position: sticky;
    top: calc((100% - 25rem) / 2);
    left: calc((100% - 35rem) / 2);
    border: 2px solid #0f1724;
    border-radius: 10px;
    animation: popupAnimation .5s linear ;
}
@keyframes popupAnimation {
    from{
        transform: scale(.5);
    }
    to{
        transform: scale(1);
    }
}
.popupCenterTop{
    height: 85%;
    width: 100%;
    display: flex;
    flex-direction: column;
}
.popupCenterTop1{
    height: 40%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}
.popupCenterTop1>p{
    color: #0ec9ac;
    font-weight: bolder;
    font-size: 1.7rem;
}
.popupCenterTop12{
    height: 2.5rem;
    width: 25rem;
    background-color: #0f1724;
    border-radius: 50px;
    display: flex;
    position: relative;
    align-items: center;
    justify-content: center;
}
.popupCenterTop12>input::placeholder{
    font-size: 1.1rem;
}
.popupCenterTop12>svg{
    color: #7a7a7a;
    transform: translateX(1rem);
}
.popupCenterTop12>input{
    width: 100%;
    border-radius: 50px;
    background-color: #0f1724;
    border: none;
    outline: none;
    padding-right: 5rem;
    padding-left: 2rem;
    font-size: 1.1rem;
    color: white;
    letter-spacing: 1.5px;
}
.popupCenterTop12>div{
    height: 100%;
    width: 6rem;
    position: absolute; 
    right: 0;
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}

.popupCenterTop12>div>button{
    height: 100%;
    width: 100%;
    background-color: #0ec9ac;
    border: none;
    outline: none;
    color: white;
    font-size: 1.1rem;
    font-weight: bold;
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;
    transition: background-color .5s,color .5s;
}
.popupCenterTop12>div>button:hover{
    border: 2px solid #0ec9ac;
    color: #0ec9ac;
    background-color: transparent;
}
.popupCenterTop2{
    height: 60%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.popupCenterTop21{
    height: 100%;
    background-color: #0f1724;
    width: 25rem;
    padding: 1rem;
    overflow-y: auto;
}
.popupCenterTop21>p{
    color: #0ec9ac;
    font-size: 1.5rem;
    font-weight: bold;
}
.popupCenterBottom{
    height: 15%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding:0 2rem;
}
.popupCenterBottom>button{
    height: 2rem;
    width: 7rem;
    border: none;
    outline: none;
    border-radius: 5px;
    background-color: #0ec9ac;
    color: whitesmoke;
    font-size: 1.1rem;
    font-weight: 550;
    transition: background-color .5s,color .5s;
}
.popupCenterBottom>button:hover{
    border: 2px solid #0ec9ac;
    background-color: transparent;
    color: #0ec9ac;
}
